/* *{
    border: 1px solid black;
} */
nav{
    box-shadow: 0 1px 2px 0 #e1e5ea;
}
.navbar{
    padding-left: 20px;
    padding-right: 20px;
}
nav ul li a:hover{
    color: #0d6efd !important;

}
nav ul li button{
    margin: 1px;
}
nav ul li button .call-icon{
    height: 15px;
    margin: 5px 10px 5px 0;
    filter: invert();
}
.dropdown:hover>.dropdown-menu{
    display: block
}
header .p-5{
    height: 91vh ;
}
header .p-5 .container-fluid{
    width: 100%;
}
header .p-5 .container-fluid .col{
    width: 50%;
    height: auto;
    float: left;
}

header .p-5 .container-fluid .img-fluid{
    min-width: 100px;
    float: right;
}
main .desc{
    display: flex;
    margin: 20px;
}
main .desc .desc-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 150px;
    width: 170px;
}
main .desc .paragraf{
    display: flex;
    height: 150px;
    align-items: center;
    padding: 30px;
}
main .desc .paragraf p{
    font-size: 1.2em;
}
main .example h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
main .example .card-container .card{
    margin: 10px;
}
main .category .btn-group{
    display: flex;
    justify-content: center;
}
main .category .btn-group .btn{
    margin: 10px;
}
main .banefit{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .banefit ul{
    max-width: 500px;
}
main .maps .mapouter{
    position:relative;
    height:500px;
    width:100%;
}
main .maps .mapouter .gmap_canvas{
    overflow: hidden;
    background:none!important;
    height:500px;
    width:100%;
}
.wa-btn{
    position: fixed;
    height:50px;
    width: 50px;
    top: 90%;
    left: 95%;
}
.wa-btn a img{
    height: 50px;
}

@media (max-width: 600px) {
    header .p-5{
        display: flex;
        height: 91vh;
        justify-content: center;
        align-items: center;
    }
    header .p-5 .container-fluid .col{
        width: 40%;
    }
    header .p-5 .container-fluid .col .col-md-8{
        font-size: 1rem !important;
    }
    header .p-5 .container-fluid .img-fluid{
        width: 60%;
        float: right;
    }
    .wa-btn{
        position: fixed;
        height:50px;
        width: 50px;
        top: 90%;
        left: 89%;
    }
}